@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v7/y6oxFxU60dYw9khW6q8jGw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'), url(https://fonts.gstatic.com/s/architectsdaughter/v8/RXTgOOQ9AAtaVOHxx0IUBM3t7GjCYufj5TXV5VnA2p8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html {
	font-size: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #40877f;
}
nav > ul > li {
  float: left;
}
nav > ul > li > a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}



.background {
  background: url("../images/004.jpg") no-repeat fixed;
}
footer { 
    color: white;
	background: #40877f;
}
.layer {
    background-color: #ffffff;
    opacity: 0.9;
    padding: 10px;
    border: 3px;
    margin: 2%;
    border-radius: 1rem;
	font-family: 'Architects Daughter', serif;
}
.opaclayer {
    background-color: #ffffff;
    opacity: 1;
    padding: 10px;
    border: 3px;
    margin: 2%;
    border-radius: 1rem;
	font-family: 'Architects Daughter', serif;
}

h1 {
    font-family: 'Monoton', cursive;
}
#screenshot1, #screenshot2 {
	width: 80%;

}
.indent {
  margin-left: 2rem;
}
.seencolor {
  background-color: #d55a48;
  color: white;
}
.jumplinks ul {
  list-style-type: none;
}
.jumplinks li a {
  display: block;
}
table, th, td {
  border: 1px dotted black;
  font-family: serif;
  
}
.inline {
  display: inline;
}

nav > ul > li > a:hover {
    background-color: #ffffff;
    opacity: .9;
    color: #40877f;
}
a:hover {
    color: blue;
}
nav ul li a.active {
    background-color: #d55a48;
    color: white;
}

nav ul li ul {
  display: none;
  position: absolute;
}  
nav li:hover ul{
  display: block;
  background: #f7d5d3;
}
nav li:hover a{
  color: #464540;
  display: block;
}
nav li ul li {
  display: block;
  border: 1px solid #40877f;
  padding: 0.5rem;
  margin: .5rem;
  text-align: center;
}
nav li ul li:hover {
  background: #40877f;
  color: white;
}
.flexcontainer {
  display: flex;
}
.flexboxleft {
  width: 75%;
}
.flexboxright {
  margin-top: 1rem;
  width: 25%;
}
